# other
.vscode/

# data
data/raw/*
data/interim/*
data/processed/*
data/groups.npy
data/X.npy
data/y.npy

# physionet files
*.dat
*.hea
metadata.csv

# python
__init__.py
__pycache__/
*.pyc

# environment
venv/
.env
.venv/