# other
.vscode/

# data
data/raw/*
data/interim/*
data/processed/*
data/dataset/*

# physionet files
*.dat
*.hea
metadata.csv

# python
__init__.py
__pycache__/
*.pyc

# environment
venv/
.env
.venv/